{% extends 'student_management_system_app/home.html' %}

{% block content %}
<table class="table">
    <thead>
        <tr class="text-center">
            <th scope="col">Roll</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Marks</th>
            <th colspan="2" scope="col">Modification</th>
        </tr>
    </thead>
    <tbody>
        {% for i in stu %}
        <tr class="text-center">
            <th scope="row">{{i.roll}}</th>
            <td>{{i.name}}</td>
            <td>{{i.email}}</td>
            <td>{{i.marks}}</td>
            <td><a href="{% url 'remove' i.id  %}" class="btn btn-danger">DELETE</a></td>
            <td><button class="btn btn-warning">UPDATE</button></td>

        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}