{% extends 'student_management_system_app/home.html' %}

{% block content %}
<form action="" method="post" class="w-50 mx-auto mt-5">
    {% csrf_token %}
    <label for="name" class="form-label">Enter Username</label>
    <input type="text" class="form-control" name="username">
    <label for="" class="form-label">Enter Password</label>
    <input type="password" class="form-control" name="password">
    <br>
    {% if messages %}
    {% for i in messages %}
    <p class="text-danger">{{i}}</p>
    {% endfor %}
    {% endif %}
    <input type="submit" value="Login" class="btn btn-success">
    <a href="{% url 'password_reset' %}">forget password</a>
</form>

{% endblock %}